<% @voice_talent_user = VoiceTalentUser.new%>
<div class="modal fade add-new-user" id="addVoiceTalentUserForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for(@voice_talent_user, html: { :class => 'form-horizontal', role: 'form'}) do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel">New Entry</h3>
        </div>
        <div class="modal-body">
          <div id="error_explanation" style="display:none;">
          </div>
          <%= render 'form', :f => f, :voice_talent_user => @voice_talent_user %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit 'Add', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
