<%= form_for(@voice_talent_user, html: { :class => 'form-horizontal', role: 'form'}) do |f| %>
  <div>
    <div id="error_explanation" style="display:none;">
    </div>
    <%= render 'form', :f => f, :voice_talent_user => @voice_talent_user %>
  </div>
  <div>
    <button type="button" class="btn btn-default">Cancel</button>
    <%= f.submit 'Update', :class => 'btn btn-primary' %>
  </div>
<% end %>

