<div class="row">
	<div class="col-xs-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Create New Voice Request</h4>
			</div>
			<div class="panel-body">
				<%= render :partial => "form", :locals => { :task => @task } %>
			</div>
		</div>
	</div>
    <div class="col-xs-3">
    </div>
</div>