<h1> Admin Panel </h1>

<table id="voice-talent-adminx" class="table table-bordered table-striped"
data-source='<%= voice_talent_users_url(format: "json") %>'>
  <thead>
    <tr>
      <th>#</th>
      <th>Talent Name</th>
      <th>Veteran?</th>
      <th>Rate:<br/> Full Script (48 hr)</th>
      <th>Rate:<br/> Rush Full Script (24 hr)</th>
      <th>Rate:<br/> Partial Script</th>
      <th>Rate:<br/> Rush Partial Script</th>
      <th>Rate:<br/> Correction</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
